@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600;700&family=Red+Hat+Text:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$josefin: 'Josefin Sans', sans-serif;
$radhat: 'Red Hat Text', sans-serif;
$permanent: 'Permanent Marker', cursive;